/buildroot/
/output/
/build/
app/fftclient/fftclient
app/iqnet_rx/iqnet_rx
app/pluto_rx/plutorx
app/sweep/sweepfft
f_uac2.c
u_uac2.h
*.swp
board/tezuka/common/uboot-env.config
Dashboard/node_modules/
Dashboard/vendor/

.qtc_clangd/
.qtcreator/
tezuka_fw.cflags
tezuka_fw.config
tezuka_fw.creator
tezuka_fw.cxxflags
tezuka_fw.files
tezuka_fw.includes
